/* ==== WEB FONTS ==== */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* =====  ELEMENT STYLES ===== */
* {
   box-sizing: border-box;
}
body {
   color: #576366;
   margin: 0;
   font-family: Quicksand, sans-serif; 
   overflow: hidden;
   background-color: #fff;
}

h1,h2,h3,h4,h5,span,p,li,a,ul,ol{
   font-family: Quicksand, sans-serif; 
}

input {
   border: 0 !important; 
   color: #fff !important; 
   box-shadow: none !important;
   background: transparent !important;
   border-bottom: 1px solid #fff !important;
}

input::-webkit-input-placeholder {
   color: #fff !important;
   /* font-style: italic; */
}

ol {
    margin-left: 1.5rem;
}
a {
   color: #74c9ff;
}

/* ==== APPLICATION ==== */

.application {
   padding: 10px;
   margin-top: 10px;
   height: auto;
} 

.main_container {
   margin:   0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.title {
   opacity: .6;
   /* transition: .5s; */
   font-size: 15px;
   cursor: pointer;
}

.title:hover {
   opacity: 1;
   /* transition: .5s; */
}

/* ==== BG IMAGE ==== */
.bg_image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
}

.underlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #222;
   opacity: .2;
}

/* ==== NEWS ==== */

.news_container {
   position: absolute;
   top: 10px;
   left: 10px;
   overflow-x: hidden;
   height: 300px;
   width: 450px;
   /* margin: 0; */
   overflow-y: scroll
}

::-webkit-scrollbar {
 display: none;
}

.news_container {
   position: absolute;
   top: 40px;
   left: 10px;
   /* padding-left: 10px; */
}
.news_container li {
   font-size: 12pt;
   color: #fff;
   padding-left: 2px;
}

.news_container a {
   color:   #fff;
}

.news_container a:hover {
   text-decoration: underline;
}

.news_title {
   position: absolute;
}

.outer {
   position: absolute;
   top: 10px;
   left: 10px;
}

/* ==== TIME ==== */
.time {
   font-size: 4em;
   color: #fff;
}

/* ==== DATE ==== */
.date {
   position: relative;
   top: 230px;
}


/* ==== SEARCH ==== */
.search {
   position: relative;
   margin-top: 400px;
   font-size:2em;
   color: rgb(0, 0, 0, 0.6);
}

.search_input {
   height: 25px;
   font-size: 30px;
   padding: 20px;
}

.search_option {
   position: relative;
   margin: 10px;
}

.search_option_span {
   position: relative;
   font-size: 15pt;
   color:   #fff;
}

/* ==== SROLL BAR ==== */
::-webkit-scrollbar {
   width: 4px;
}
 
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #fff; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
   background: rgba(0,0,0,0); 
}


/* ==== WEATHER COMPONENT ==== */
.weather_component {
   position: absolute;
   top: 10px;
   right: 10px;
   text-align: right;
}

.weather_component h5, p {
   margin-bottom: 0;
   font-size: 18px;
   color: #fff;
}
.weather_component p {
   opacity: .5;
   transition: .5s;
}

.weather_component p:hover {
   opacity: 1;
}

/* ==== DOCS ==== */
.docs_component{
   height: 350px;
   width: 300px;
   opacity: .8;
   background-color: #222;
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 15px;
   border-top-left-radius: 3px;
}
.docs_component p{
   text-align: right;
}

.docs_off_component {
   position: absolute;
   bottom: 10px;
   right: 10px;
   cursor: pointer;
}

.inner_scroll {
   position: relative;
   height: 300px;
   padding-bottom: 20px;
   overflow: scroll;
}

.inner_scroll  li{
   font-size: 18px;
}

.doc_bloc {
   text-align: center;
   background-color: #222;
   height: 70px;
   overflow: hidden;
}

.doc_bloc:hover {
   opacity: .8;
   cursor: pointer;
   background-color: #333;
}

.docs_search_input{
   height: 25px;
   display: inline;
   width: 200px;
   position: relative;
}

.doc_logo {
   width: 100%;
}

.doc_delete_button {
   display: inline;
   margin-left: 10px;
   width: 20px; 
   height: 20px; 
   cursor: pointer;
}

/* ==== GitHub ==== */

.github_component {
   position: absolute;
   bottom: 0;
   left: 0;
   color: #fff;
}

.gh_title {
   padding-left: 10px;
   padding-bottom: 10px;
   font-size : 18px;
   cursor: pointer;
}

.gh_on {
   height: 110px;
   width: 280px;
   opacity: 0.75;
   border-top-right-radius: 3px;
   background-color: #222;
}

.gh_hide {
   position: absolute;
   top: 5px;
   right: 10px;
   font-size: 15px;
}

.gh_av {
   width: 80px;
   position: absolute;
   bottom: 0;
}

.save_gh_input {
   text-align:right;
   position: absolute;
   bottom: 0; 
   cursor: pointer;
   font-size: 20px;
}

.gh_change_user {
   position: relative;
   bottom: 1px;
   width: 18px;
   margin-left: 5px;
   opacity: 0.4; 
   cursor: pointer;
}

.gh_change_user:hover {
   opacity: 1;
}

.user_name_input {
   width: 230px;
   position: absolute;
   top: 20px;
}

.gh_username {
   color: #fff;
}

.user_data_ul {
   position: absolute;
   font-size: 15px;
   bottom: 0;
   margin:  0; 
   left: 90px; 
   line-height: 20px;
   list-style-type: none;
}

.user_data_ul h5 {
   display: inline;
}

/* ==== ADD ==== */
.add {
   position: relative;
   margin: 0 auto;
   text-align: center;
   color: #fff;
   opacity: .7;
   width: 300px;
   cursor: pointer;
   transition: .3s
}

.add:hover {
   opacity: 1;
}

/* ==== SHARE ==== */
.share {
   position: absolute;
   right: 20px;
   top: 230px;
   z-index: 30;
   opacity: .2;
   transition: .3s
}

.share:hover {
   opacity: .6;
   transition: .3s
}

.share img {
   width: 30px;
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 1200px){

   .outer {
      display: none;
   }
   .news_container {
      display: none;
   }

   .docs_component, .docs_off_component {
      display: none;
   }

   .github_component {
      display: none;
   }
   
   .news_component {
      display: none;
   }
}


@media screen and (max-width: 600px){

   .search_option_span {
      font-size: 16px;
   }

   .search_option {
      width: 8px;
   }

   .tab {
      display: none;
      background-color: red;
   }

   .player_container {
      display: none;
   }

   .ear_svg {
      display: none;
   }

   .container {
      top: 150px;
   }
}
