/* ==== WEB FONTS ==== */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* ===== CONTAINER ELEMENT STYLES ===== */
* {
  box-sizing: border-box;
}
body {
  color: #576366;
  margin: 0;
  font-family: Quicksand, sans-serif; 
  overflow: hidden;
  background-color: salmon;
  /* animation: colorchange 25s;  */
  /* -webkit-animation: colorchange 25s;  */
  animation-iteration-count: infinite;
}



.button {
  text-align: center;
  margin:  0;
  cursor: pointer;
}

button {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.main_container {
  margin:  0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.application {
  padding: 10px;
  margin-top: 10px;
  height: auto;
} 

.container {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
}


/* ==== NEWS ==== */

.outer {
}
.news_container {
  position: absolute;


  top: 10px;
  left: 10px;

  /* height: 400px; */
  /* overflow: scroll */

}

.news_container li {
  font-size: 10pt;
  color: #fff;
  list-style: none;

}

.news_container a {
  /* color:  #fff; */
}


/* ==== TIME ==== */

.time {
  font-size: 4em;
}

/* ==== SEARCH ==== */
.search {
  position: relative;
  top: 500px;
  font-size:2em;
  color: rgb(0, 0, 0, 0.6);
}

.search_option {
  position: relative;
  margin-left: 20px;
}
.search_option_span {
  position: relative;
  font-size: 15pt;
  /* padding: 15px; */
}
/* ==== SROLL BAR ==== */

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0); 
}


/* USER LINKS */
.url_input {
  /* padding: 0; */
  height: 28px;
  width: 300px;
  border-radius: 3px;
}

.about_container {
  position: absolute;
  padding: 20px;
  bottom: -15px;
  right: -10px;
  color: #222;
  border-radius: 2px;
  padding-bottom: 0;
  width: 280px;
  opacity: .8;
  z-index: 20;
  margin: 0;
  cursor: pointer;
  display: none;

}

.user_links_container {
  max-height: 100px;
  overflow-y: scroll;
  /* overflow-x: auto; */
  width: 240px;
  max-width: 260px;
}

.user_links_container:hover {
  overflow-y: scroll;
}

.add_link_button {

}

.link_p {
  margin-bottom: 0;
}
/* ==== ANIMATION  ==== */

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); }
    50% {-webkit-transform: scale(1.2, 1.2); }
    100% {-webkit-transform: scale(1, 1);}
}



@keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); }
    50% {-webkit-transform: scale(1.2, 1.2); }
    100% {-webkit-transform: scale(1, 1);}
}



@keyframes colorchange
{
  0%   {background: rgba(249, 229, 159, 0.28); }
  50%  {background: rgba(255, 255, 255, 0.9);}
  100% {background: rgba(249, 229, 159, 0.28);}
}

@-webkit-keyframes colorchange 
{
  0%   {background: rgba(249, 229, 159, 0.28);}
  50%  {background: rgba(255, 255, 255, 0.9);}
  100% {background: rgba(249, 229, 159, 0.28);}
}



/* ==== MEDIA QUERIES ==== */

@media screen and (max-width: 1200px){


  .news_container {
    display: none;
  }
}

@media screen and (max-width: 600px){


  .search_option_span {
    font-size: 8pt;
  }

   .search_option {
    width: 8px;
   }

  .tab {
    display: none;
    background-color: red;
  }

    .player_container {
      display: none;
    }

    .ear_svg {
      display: none;
    }

    .container {
      top: 150px;
    }
  }
